/* ADD PRODUCT FORM */
.add-product-form {
	background-color: #bdc3c7;
	color: #2c3e50;

	font-size: 1.25rem;
	width: max-content;
	padding: 0rem 1rem;
	margin: 1rem auto;

	border-radius: 0.5rem;
	box-shadow: 5px 5px 5px #00000066;
}
.add-product-form h2 {
	margin: 0;
	padding: 1rem;
	padding-left: 0;
	text-decoration: underline;
}

.add-product-form button {
	margin: 1rem 0;
	position: relative;
	left: 100%;
	transform: translateX(-100%);

	background-color: transparent;
	box-sizing: border-box;
	border: none;
	border: 4px solid #2c3e50;
	color: #2c3e50;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	box-shadow: 5px 5px 5px #00000033;
	cursor: pointer;
}
.add-product-form button:hover {
	border-color: #3498db;
	color: #3498db;
}

.form-body {
	display: flex;
	flex-direction: column;
	width: max-content;
	margin: 0 auto;
}

.form-body label,
.form-body .checkbox-container .featured-input {
	cursor: pointer;
}

.form-body .checkbox-container {
	background-color: #ecf0f1;
	margin: 0.25rem;
	padding: 0.5rem 1rem 0.5rem 0.25rem;
	border-radius: 0.25rem;
	color: #00000088;

	box-shadow: 5px 5px 5px #00000033, -2.5px -2.5px 5px #00000033 inset;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-body > input {
	padding: 0.5rem 1rem 0.5rem 0.25rem;
	border: none;
	margin: 0.25rem;
	border-radius: 0.25rem;
	background-color: #ecf0f1;

	box-shadow: 5px 5px 5px #00000033, -2.5px -2.5px 5px #00000033 inset;
}

.alert-message {
	text-align: center;
	margin: 0.5rem;

	visibility: hidden;
	display: none;
}

/* PRODUCT CARDS */
.products-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.product-card {
	background-color: #bdc3c7;
	color: #40739e;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	font-size: 1.25rem;
	width: clamp(15rem, 20vw, 100%);
	/* padding: 0rem 1rem; */
	margin: 0.5rem;

	border-radius: 0.5rem;
	box-shadow: 5px 5px 5px #00000066;
}

.product-card .img-container {
	width: 100%;
	min-height: 7rem;
	background: #00000044;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;

	-webkit-box-shadow: 0px 10px 15px 0px #00000033;
	box-shadow: 0px 10px 15px 0px #00000033;
}

.product-card.product-featured {
	/* #f1c40f33 */
	box-shadow: 0 0 25px #f1c40f88, 5px 5px 5px #00000066;
}
.product-card.product-featured .img-container {
	background-color: #f1c40f;
	-webkit-box-shadow: 0px 10px 15px 0px #f1c40f33;
	box-shadow: 0px 10px 15px 0px #f1c40f33;
}

.product-card img {
	max-height: 6rem;
	margin: 0.5rem auto;
	display: block;
}

.desc-label {
	color: #2c3e50;
}

.desc-price-label {
	color: #00b894;
}
.product-card .name {
	text-align: center;
	margin-bottom: 0;
	color: #2c3e50;
}

.product-card .rating-star {
	color: #fbc531;
}

.product-card h4 {
	margin: 0.5rem 0;
}

.product-card .description {
	margin: 1rem;
	margin-top: auto;
}

.product-links {
	margin: 1rem 0 0 0;
	display: flex;
	justify-content: flex-end;
	gap: 0.5rem;
}

.product-links a {
	display: grid;
	place-items: center;
	text-decoration: none;
	color: #00b894;
}
.product-links button {
	outline: none;
	border: none;
	background-color: transparent;
	display: grid;
	place-items: center;
	text-decoration: none;
	color: #e74c3c;
}

.product-links a,
.product-links button {
	filter: brightness(0.7);
}
.product-links a:hover,
.product-links button:hover {
	filter: brightness(1);
}
